/*ID*/
#head_text{
	height: 50px;
	font-family: Arial;
	color: white;	
}

/*CLASS*/
.container_web{
	width: 1024px;
	height: auto;
	background-image: url("img/bg_biru.png");
	background-size: 1024px, 50%;
	padding: 15px;
	margin: auto;
}
.body{
	margin-top: 15px;
	width: auto;
	height: auto;
	/*background-color: #cf6a87;*/
	padding: 15px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*SELECTOR*/
h3{
	font-family: arial;
}